// Your custom settings file to override Foundation defaults
@import "settings";
// Comment out this import if you are customizing you imports below
@import "foundation";
@import 'bourbon/bourbon';

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";
// @import "foundation/components/modules/clearing";
// @import "foundation/components/modules/joyride";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

#tables a {
  font-weight : bold;
  font-size   : 2.5em;
  text-align  : center;
}

#tables a:hover {
  background-color : #e6e6e6;
}

#tables .active:hover, #tables .active, h2 span {
  background-color : #333;
  color            : white;
}

ul#menu li {
  list-style-type : none;
  text-align      : center;
  padding-bottom  : 1em;
}

ul#menu li div {
  font-size   : 64px;
  line-height : 64px;
}

ul#menu li p {
  font-weight    : bold;
  text-transform : uppercase;
}

#customer-tab {
  background-color : #f2f2f2;
  border           : 1px solid #e6e6e6;
  padding          : 1em 2em;
}

#customer-tab li {
  list-style-type : none;
  border-bottom   : 1px solid #ccc;
}

#customer-tab li#total h3 {
  font-weight : bold;
}

#customer-tab li#total {
  border-top    : 4px solid black;
  border-bottom : 0;
}

#customer-tab li h3 {
  font-weight : normal;
}

#customer-tab li span {
  float : right;
}

#order {
  border-left : 1px dashed #333;
}

#order h2 {
  text-align : center;
}

h2 span {
  padding : 0.5em 1em;
}
